.account-popper-container {
    display: flex;
    width: 200px;
    height: 182px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.account-popper-inner-container {
    display: flex;
    flex-direction: column;
    width: 174px;
    height: 146px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 26px;
    align-items: flex-start;
    justify-content: space-between;
    label {
        height: 16px;
        text-align: left;
        font: normal normal 500 16px Roboto;
        letter-spacing: 0px;
        color: #0A0102;
        opacity: 1;
    }
    button {
        width: 123px;
        height: 33px;
        outline: none;
        background: #FFFFFF;
        font: normal normal normal 12px/16px Roboto;
        letter-spacing: 0px;
        color: #A03037;
        opacity: 1;
        border: 1px solid #A03037;
        border-radius: 2px;
        opacity: 1;
        &:hover {
            cursor: pointer;
        }
    }
}

.popper-options {
    display: flex;
    align-items: center;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    &:hover {
        cursor: pointer;
    }
}

@media(max-width: 320px) {
    .account-popper-container {
        display: flex;
        width: 170px;
        height: 182px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .account-popper-inner-container {
        display: flex;
        flex-direction: column;
        width: 146px;
        height: 146px;
        padding-top: 16px;
        padding-bottom: 20px;
        padding-left: 26px;
        align-items: flex-start;
        justify-content: space-between;
        label {
            height: 16px;
            text-align: left;
            font: normal normal 500 16px Roboto;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }
        button {
            width: 123px;
            height: 33px;
            outline: none;
            background: #FFFFFF;
            font: normal normal normal 12px/16px Roboto;
            letter-spacing: 0px;
            color: #A03037;
            opacity: 1;
            border: 1px solid #A03037;
            border-radius: 2px;
            opacity: 1;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .popper-options {
        display: flex;
        align-items: center;
        height: 16px;
        text-align: left;
        font: normal normal normal 12px/16px Roboto;
        letter-spacing: 0px;
        color: #878787;
        opacity: 1;
        &:hover {
            cursor: pointer;
        }
    }
}